<app-header></app-header>
<app-products></app-products>
<app-footer></app-footer>
<!-- <app-parent></app-parent> -->

<!-- <app-main></app-main>
<app-footer></app-footer> -->

<!-- <app-interpolation></app-interpolation>
<app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-templateref-value></app-templateref-value> -->
<!-- <app-ng-if-structure-directive></app-ng-if-structure-directive> -->
<!-- <app-ng-switch-structure-directive></app-ng-switch-structure-directive> -->
<!-- <app-ng-for-structure-directive></app-ng-for-structure-directive> -->
<!-- <app-pipes></app-pipes> -->
